<%= form_for @costume do |f| %>
  <%= f.hidden_field :dance_studio_id %>
  <!-- top description -->
  <div class='field'>
    <%= f.label :top_description, class: 'label' %>
    <div class='control has-icons-left'>
      <%= f.text_field :top_description, class:'input', placeholder: 'Enter description if costume has a top' %>
    </div>
  </div>
  <!-- bottoms description -->
  <div class='field'>
    <%= f.label :bottoms_description, class: 'label' %>
    <div class='control has-icons-left'>
      <%= f.text_field :bottoms_description, class:'input', placeholder: 'Enter description if costume has a bottoms' %>
    </div>
  </div>
  <!-- onepiecce description -->
  <div class='field'>
    <%= f.label :onepiece_description, class: 'label' %>
    <div class='control has-icons-left'>
      <%= f.text_field :onepiece_description, class:'input', placeholder: 'Enter description if costume is a onepiece' %>
    </div>
  </div>
  <!-- hair accessory description -->
  <div class='field'>
    <%= f.label :hair_accessory, class: 'label' %>
    <div class='control has-icons-left'>
      <%= f.text_field :hair_accessory, class:'input', placeholder: 'Enter description if costume is has a hair accessory' %>
    </div>
  </div>
  <!-- picture -->
  <div class='field'>
    <%= f.label :picture, class: 'label' %>
    <div class='control has-icons-left'>
      <%= f.text_field :picture, class:'input', placeholder: 'Enter picture url' %>
    </div>
  </div>
  <!-- submit button -->
  <div class='field'>
    <div class='control'>
      <%= f.submit class: 'button is-primary' %>
    </div>
  </div>
<% end %>