<!-- If assigned, display no. of dancers by season -->
<% if costume_seasons(@costume).present? %>
  <div class='columns'>
    <div class='column is-narrow'>
      <div class='box'>
        <table class='table'>
          <thead>
            <tr>
              <td><h2 class='subtitle'>Season</h2></td>
              <td><h2 class='subtitle'>Dancers</h2></td>
            </tr>
          </thead>
          <tbody>
            <!-- {"2019"=>3, "2020"=>3} -->
            <% costume_seasons(@costume).each do |season| %>
              <tr>
                <td><%= season[0] %></td>
                <td><%= season[1] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
<!-- View Current / All Costume Assignments & Assign Costume -->
<div class='buttons is-grouped'>
  <!-- View Current Costume Assignments / View All Costume Assignments -->
  <%= view_costume_assignments_button(@costume) %>
  <!-- Assign an Unassigned Costume -->
  <% if unassigned? && current_user.dancers.current_dancers.present? %>
    <%= assign_costume_button(@costume) %>
  <% end %>
</div>
<!-- Edit / Delete Costume -->
<div class='buttons is-grouped'>
  <%= link_to 'Edit Costume', edit_costume_path(@costume), class: 'button is-warning' %>
  <%= link_to 'Delete Costume', costume_path(@costume), class: 'button is-danger', method: :delete %>
</div>