<% if studio_has_current_dancers? %>
  <div class='content has-text-centered'>
    <h1 class='title has-text-primary'>Assign Costume Form</h1>
    <!-- Costume Picture -->
    <%= render 'picture' %>
  </div>
  <div class='box'>
    <!-- if previously assigned, display shared assignment info -->
    <% if @season.present? %>
      <div class='box'>
        <h2 class='subtitle is-size-4 has-text-centered'>Last Assigned in <%= @season %></h2>
        <%= render 'display_shared_assignment_info'%>
      </div>
    <% end %>
    <!-- Costume Assignment Form -->
    <%= form_with model: @costume, url: assign_path, method: :post, local: true do |f| %>
      <!-- Shared Assignment info -->
      <div class='box'>
        <h2 class='subtitle'>Enter Costume Assignment Details</h2>
        <%= f.fields_for :costume_assignments do |assignment_builder| %>
          <% if collecting_shared_info?(assignment_builder) %>
            <!-- Dance Season -->
            <div class='field'>
              <%= assignment_builder.label :dance_season, class: 'label is-capitalized' %>
              <div class='control'>
                <%= assignment_builder.text_field :dance_season, class:'input is-danger', placeholder: 'e.g. 2020' %>
                <p class='help is-danger'>Required</p>
              </div>
            </div>
            <!-- Song Name -->
            <div class='field'>
              <%= assignment_builder.label :song_name, class: 'label is-capitalized' %>
              <div class='control'>
                <%= assignment_builder.text_field :song_name, class:'input is-danger' %>
                  <p class='help is-danger'>Required</p>
              </div>
            </div>
            <!-- Genre -->
            <div class='field'>
              <%= assignment_builder.label :genre, class: 'label' %>
              <div class='control'>
                <%= assignment_builder.text_field :genre, class:'input', placeholder: 'e.g. tap, jazz, lyrical, etc.' %>
              </div>
            </div>
            <!-- Hair Accessory -->
            <div class='field'>
              <%= assignment_builder.label :hair_accessory, class: 'label is-capitalized' %>
              <div class='control'>
                <%= assignment_builder.text_field :hair_accessory, class:'input', placeholder: "Enter description or 'none'" %>
              </div>
            </div>
            <!-- Shoes -->
            <div class='field'>
              <%= assignment_builder.label :shoe, 'Shoes', class: 'label' %>
              <div class='control'>
                <%= assignment_builder.text_field :shoe, class:'input', placeholder: "If no shoes, enter 'none'" %>
              </div>
            </div>
            <!-- Tights -->
            <div class='field'>
              <%= assignment_builder.label :tight, 'Tights', class: 'label' %>
              <!--label class="label" for="costume_costume_assignments_attributes_0_tight">Tight</label-->
              <div class='control'>
                <%= assignment_builder.text_field :tight, class:'input', placeholder: "If no tights, enter 'none'" %>
                <!--input class="input" type="text" name="costume[costume_assignments_attributes][0][tight]" id="costume_costume_assignments_attributes_0_tight"-->
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <!-- if previously assigned, display previous assigned dancer info -->
      <% if @season.present? %>
        <div class='box'>
          <h2 class='subtitle is-4 has-text-centered'><%= @assignments.count %> Costumes Assigned in <%= @season %></h2>
          <div class='content has-text-centered'>
            <%= render 'dancer_table'%>
          </div>
        </div>
      <% end %>
      <!-- Dancer(s), Costume Size & Condition -->
      <div class='box'>
        <h2 class='subtitle'>Select Dancer(s)
          <p class='help is-danger'>Must select at least 1 dancer w/ costume size & costume condition</p>
        </h2>
        <div class='columns is-desktop'>
          <% @count = 0 %>
          <%= f.fields_for :costume_assignments do |assignment_builder| %>
            <% if collecting_dancer_info?(assignment_builder) %>
              <div class='column is-2'>
                <!-- create rows -->
                <%= render 'create_rows' %>
                <!-- Dancer -->
                <div class='field'>
                  <div class='control'>
                    <%= assignment_builder.check_box :dancer_id, {:checked => false, class: 'checkbox'}, assignment_builder.object.dancer_id, "0" %>
                    <!--input name="costume[costume_assignments_attributes][7][dancer_id]" type="hidden" value="0"-->
                    <!--input class="checkbox" type="checkbox" value="1" name="costume[costume_assignments_attributes][7][dancer_id]" id="costume_costume_assignments_attributes_7_dancer_id"-->
                    <!-- next dancer -->
                    <!--input name="costume[costume_assignments_attributes][8][dancer_id]" type="hidden" value="0"-->
                    <!--input class="checkbox" type="checkbox" value="2" name="costume[costume_assignments_attributes][8][dancer_id]" id="costume_costume_assignments_attributes_8_dancer_id"-->
                    <%= assignment_builder.label full_name(assignment_builder.object.dancer),  full_name(assignment_builder.object.dancer), class: 'checkbox has-text-weight-bold' %>
                    <!--label class="checkbox" for="costume_costume_assignments_attributes_7_Madelyn Berrier">Madelyn Berrier</label-->              
                  </div>
                </div>   
                <!-- Costume Size -->
                <div class='field'>
                  <%= assignment_builder.label :costume_size, class: 'label is-size-7 is-capitalized' %>
                  <div class='control'>
                    <div class='select is-small'>
                      <%= assignment_builder.select(:costume_size, options_for_select([['XS', 'XS'], ['S', 'S'], ['M', 'M'], ['L', 'L']]), {prompt: "Select Size"}) %>
                    </div>
                  </div>
                </div>
                <!-- Costume Condition -->
                <div class='field'>
                  <%= assignment_builder.label :costume_condition, class: 'label is-size-7 is-capitalized' %>
                  <div class='control'>
                    <div class='select is-small'>
                      <%= assignment_builder.select(:costume_condition, options_for_select([['Select Condition', ""], ['New', 'New'], ['Used', 'Used']])) %>
                    </div>
                  </div>
                </div>
              </div>
              <% @count += 1 %>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- submit button -->
      <div class='field'>
        <div class='control'>
          <%= f.submit 'Assign Costume', class: 'button is-primary' %>
        </div>
      </div>
    <% end %>
  </div>
  <!-- cancel button -->
  <%= cancel_button(unassigned_costumes_path(current_user)) %>
<% else %>
  <div class='content has-text-centered'>
    <h1 class='title has-text-primary'>Need Current Dancers to Assign Costume</h1>
  </div>
<% end %>