<div class='content has-text-centered'>
  <h1 class='title has-text-primary'>Assign Costume Form</h1>
  <!-- Costume Picture -->
  <%= render 'picture' %>
</div>
<div class='box'>
  <!-- if previously assigned, display shared info -->
  <% if !@season.nil? %>
    <div class='box'>
      <h2 class='subtitle is-4 has-text-centered'>Last Assigned in <%= @season %></h2>
      <div class='columns has-text-grey has-text-centered'>
        <!-- Genre -->
        <div class='column'>
          <h2 class='subtitle'>Genre</h2>
          <%= @assignments.first.genre %>
        </div>
        <!-- hair accessory -->
        <div class='column'>
          <h2 class='subtitle'>Hair Accessory</h2>
          <%= @assignments.first.hair_accessory %>
        </div>
        <!-- Shoes -->
        <div class='column'>
          <h2 class='subtitle'>Shoes</h2>
          <%= @assignments.first.shoe %>
        </div>
        <!-- Tights -->
        <div class='column'>
          <h2 class='subtitle'>Tights</h2>
          <%= @assignments.first.tight %>
        </div>
      </div>
    </div>
  <% end %>
  <%= form_for @costume, url: assign_path(@costume), method: :post do |f| %>
    <!-- Costume Assignment info -->
    <div class='box'>
      <h2 class='subtitle'>Enter Costume Assignment Details</h2>
      <%= f.fields_for :costume_assignments do |assignment_builder| %>
        <% if assignment_builder.object.dancer_id.nil? %>
          <p>
            <!-- Dance Season -->
            <div class='field'>
              <%= assignment_builder.label :dance_season, 'Dance Season', class: 'label' %>
              <div class='control'>
                <%= assignment_builder.text_field :dance_season, class:'input is-danger', placeholder: 'e.g. 2020' %>
                <p class='help is-danger'>Required</p>
              </div>
            </div>
            <!-- Song Name -->
            <div class='field'>
              <%= assignment_builder.label :song_name, 'Song Name', class: 'label' %>
              <div class='control'>
                <%= assignment_builder.text_field :song_name, class:'input is-danger' %>
                 <p class='help is-danger'>Required</p>
              </div>
            </div>
            <!-- Genre -->
            <div class='field'>
              <%= assignment_builder.label :genre, class: 'label' %>
              <div class='control'>
                <%= assignment_builder.text_field :genre, class:'input', placeholder: 'e.g. tap, jazz, lyrical, etc.' %>
              </div>
            </div>
            <!-- Hair Accessory -->
            <div class='field'>
              <%= assignment_builder.label :hair_accessory, 'Hair Accessory', class: 'label' %>
              <div class='control'>
                <%= assignment_builder.text_field :hair_accessory, class:'input', placeholder: "Enter description or 'none'" %>
              </div>
            </div>
            <!-- Shoes -->
            <div class='field'>
              <%= assignment_builder.label :shoe, 'Shoes', class: 'label' %>
              <div class='control'>
                <%= assignment_builder.text_field :shoe, class:'input', placeholder: "If no shoes, enter 'none'" %>
              </div>
            </div>
            <!-- Tights -->
            <div class='field'>
              <%= assignment_builder.label :tight, 'Tights', class: 'label' %>
              <!--label class="label" for="costume_costume_assignments_attributes_0_tight">Tight</label-->
              <div class='control'>
                <%= assignment_builder.text_field :tight, class:'input', placeholder: "If no tights, enter 'none'" %>
                <!--input class="input" type="text" name="costume[costume_assignments_attributes][0][tight]" id="costume_costume_assignments_attributes_0_tight"-->
              </div>
            </div>
          </p>
        <% end %>
      <% end %>
    </div>
    <!-- if previously assigned, display dancer info -->
    <% if !@season.nil? %>
      <div class='box'>
        <h2 class='subtitle is-4 has-text-centered'><%= @assignments.count %> Costumes Assigned in <%= @season %></h2>
        <div class='content has-text-centered'>
          <div class='table-container'>
            <table class='table is-narrow is-striped is-hoverable'>
              <thead class='has-text-weight-bold'>
                <tr>
                  <td>Dancer</td>
                  <td>Costume Size</td>
                  <td>Costume Condition</td>
                </tr>
              </thead>
              <tbody>
                <% @assignments.each do |assignment| %>
                <tr>
                  <td><%= assignment.dancer.name %></td>
                  <td><%= assignment.costume_size %></td>
                  <td><%= assignment.costume_condition %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
    <!-- Dancer(s), Costume Size & Condition -->
    <div class='box'>
      <h2 class='subtitle'>Select Dancer(s)
        <p class='help is-danger'>Must select at least 1 dancer w/ costume size & costume condition</p>
      </h2>
      <div class='columns'>
        <%= f.fields_for :costume_assignments do |assignment_builder| %>
          <% if !assignment_builder.object.dancer_id.nil? && assignment_builder.object.dance_season.nil? %>
            <div class='column'>
            <!-- Dancer -->
              <div class='field'>
                <div class='control'>
                  <%= assignment_builder.check_box :dancer_id, {:checked => false, class: 'checkbox'}, assignment_builder.object.dancer_id, "0" %>
                  <!--input name="costume[costume_assignments_attributes][7][dancer_id]" type="hidden" value="0"-->
                  <!--input class="checkbox" type="checkbox" value="1" name="costume[costume_assignments_attributes][7][dancer_id]" id="costume_costume_assignments_attributes_7_dancer_id"-->
                  <!-- next dancer -->
                  <!--input name="costume[costume_assignments_attributes][8][dancer_id]" type="hidden" value="0"-->
                  <!--input class="checkbox" type="checkbox" value="2" name="costume[costume_assignments_attributes][8][dancer_id]" id="costume_costume_assignments_attributes_8_dancer_id"-->
                  <%= assignment_builder.label assignment_builder.object.dancer.name,  assignment_builder.object.dancer.name, class: 'checkbox has-text-weight-bold' %>
                  <!--label class="checkbox" for="costume_costume_assignments_attributes_7_Madelyn Berrier">Madelyn Berrier</label-->              
                </div>
              </div>
              <!-- Costume Size -->
              <div class='field'>
                <%= assignment_builder.label :costume_size, 'Costume Size', class: 'label is-size-7' %>
                <div class='control'>
                  <div class='select is-small'>
                    <%= assignment_builder.select(:costume_size, options_for_select([['XS', 'XS'], ['S', 'S'], ['M', 'M'], ['L', 'L']]), {prompt: "Select Size"}) %>
                  </div>
                </div>
              </div>
              <!-- Costume Condition -->
              <div class='field'>
                <%= assignment_builder.label :costume_condition, 'Costume Condition', class: 'label is-size-7' %>
                <div class='control'>
                  <div class='select is-small'>
                    <%= assignment_builder.select(:costume_condition, options_for_select([['Select Condition', ""], ['New', 'New'], ['Used', 'Used']])) %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      
    </div>
    <!-- submit button -->
    <div class='field'>
      <div class='control'>
        <%= f.submit 'Assign Costume', class: 'button is-primary' %>
      </div>
    </div>
  <% end %>
</div>
<!-- cancel button -->
<%= link_to 'Cancel', unassigned_costumes_path(current_user), class: 'button is-dark'%>