<div class='content has-text-centered'>
  <h1 class='title has-text-primary'>Assign Costume Form</h1>
  <!-- costume picture -->
  <% if !@costume.picture.blank? %>
    <%= image_tag @costume.picture, width: 100 %>
  <% elsif !@costume.onepiece_description.blank? %>
    <%= @costume.onepiece_description %>
  <% else %>
    <%= @costume.top_description + ' with ' + @costume.bottoms_description %>
  <% end %>
</div>
<div class='box'>
  <%= form_for @costume, url: assign_path(@costume), method: :post do |f| %>
    <%= f.hidden_field :dance_studio_id %>
    <!-- Costume Assignment info -->
    <div class='box'>
      <h2 class='subtitle'>Enter Costume Assignment Details</h2>
      <%= f.fields_for :costume_assignments do |assignment_builder| %>
        <% if assignment_builder.object.dancer_id.nil? %>
          <p>
            <!-- Dance Season -->
            <div class='field'>
              <%= assignment_builder.label :dance_season, "Dance Season", class: 'label' %>
              <div class='control'>
                <%= assignment_builder.text_field :dance_season, class:'input', placeholder: 'e.g. 2020' %>
              </div>
            </div>
            <!-- Song Name -->
            <div class='field'>
              <%= assignment_builder.label :song_name, "Song Name", class: 'label' %>
              <div class='control'>
                <%= assignment_builder.text_field :song_name, class:'input' %>
              </div>
            </div>
            <!-- Genre -->
            <div class='field'>
              <%= assignment_builder.label :genre, class: 'label' %>
              <div class='control'>
                <%= assignment_builder.text_field :genre, class:'input', placeholder: 'e.g. tap, jazz, lyrical, etc.' %>
              </div>
            </div>
            <!-- Shoes -->
            <div class='field'>
              <%= assignment_builder.label :shoe, 'Shoes', class: 'label' %>
              <div class='control'>
                <%= assignment_builder.text_field :shoe, class:'input', placeholder: "If no shoes, enter 'none'" %>
              </div>
            </div>
            <!-- Tights -->
            <div class='field'>
              <%= assignment_builder.label :tight, 'Tights', class: 'label' %>
              <!--label class="label" for="costume_costume_assignments_attributes_0_tight">Tight</label-->
              <div class='control'>
                <%= assignment_builder.text_field :tight, class:'input', placeholder: "If no tights, enter 'none'" %>
                <!--input class="input" type="text" name="costume[costume_assignments_attributes][0][tight]" id="costume_costume_assignments_attributes_0_tight"-->
              </div>
            </div>
          </p>
        <% end %>
      <% end %>
    </div>
    <!-- Dancer(s) & Costume Size -->
    <div class='box'>
      <h2 class='subtitle'>Select Dancer(s) & Costume Size</h2>
      <div class='columns'>
        <%= f.fields_for :costume_assignments do |assignment_builder| %>
          <% if !assignment_builder.object.dancer_id.nil? && assignment_builder.object.dance_season.nil? %>
            <div class='column'>
            <!-- Dancer -->
              <div class='field'>
                <div class='control'>
                  <%= assignment_builder.check_box :dancer_id, {:checked => false, class: 'checkbox'}, assignment_builder.object.dancer_id, "0" %>
                  <!--input name="costume[costume_assignments_attributes][7][dancer_id]" type="hidden" value="0"-->
                  <!--input class="checkbox" type="checkbox" value="1" name="costume[costume_assignments_attributes][7][dancer_id]" id="costume_costume_assignments_attributes_7_dancer_id"-->
                  <!-- next dancer -->
                  <!--input name="costume[costume_assignments_attributes][8][dancer_id]" type="hidden" value="0"-->
                  <!--input class="checkbox" type="checkbox" value="2" name="costume[costume_assignments_attributes][8][dancer_id]" id="costume_costume_assignments_attributes_8_dancer_id"-->
                  <%= assignment_builder.label assignment_builder.object.dancer.name,  assignment_builder.object.dancer.name, class: 'checkbox has-text-weight-bold' %>
                  <!--label class="checkbox" for="costume_costume_assignments_attributes_7_Madelyn Berrier">Madelyn Berrier</label-->              
                </div>
              </div>
              <!-- Costume Size -->
              <div class='field'>
                <%= assignment_builder.label :costume_size, 'Costume Size', class: 'label is-size-7' %>
                <div class='control'>
                  <!--%#= assignment_builder.text_field :costume_size, class:'input is-small' %-->
                  <div class='select is-small'>
                    <%= assignment_builder.select(:costume_size, options_for_select([['XS', 'XS'], ['S', 'S'], ['M', 'M'], ['L', 'L']]), {prompt: "Select Size"}) %>
                  </div>
                </div>
              </div>
              <div class='field'>
                <%= assignment_builder.label :costume_condition, 'Costume Condition', class: 'label is-size-7' %>
                <div class='control'>
                  <!--%#= assignment_builder.text_field :costume_size, class:'input is-small' %-->
                  <div class='select is-small'>
                    <%= assignment_builder.select(:costume_condition, options_for_select([['New', 'New'], ['Used', 'Used']])) %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <p class='help is-danger'>Must select at least 1 dancer w/ costume size & costume condition</p>
    </div>
    <!-- submit button -->
    <div class='field'>
      <div class='control'>
        <%= f.submit 'Assign Costume', class: 'button is-primary' %>
      </div>
    </div>
  <% end %>
</div>
<!-- cancel button -->
<%= link_to 'Cancel', unassigned_costumes_path(current_user), class: 'button is-dark'%>