<!-- Validation Error(s) Message -->
<% if any_validation_errors?(@costume) %>
  <section class='section'>
    <div class='container is-fluid has-text-centered'>
      <div id='error_explanation' class='notification is-danger'>
        <h2>
          <%= error_count(@costume) %>
          prohibited this costume from being saved!
        </h2>
      </div>
    </div>
  </section>
<% end %>
<!-- Form Title -->
<div class='content has-text-centered'>
  <h1 class='title has-text-primary'>Edit Costume Form</h1>
  <!-- Costume Picture -->
  <%= render 'picture' %>
</div>
<!-- Edit Costume Form -->
<div class='box'>
  <%= form_for @costume do |f| %>
    <!-- Top Description -->
    <div class='box'>
      <h2 class='subtitle'>
        Two-Piece Costume
        <p class='help is-danger'>Must fill out both for a two-piece costume</p>
      </h2>
      <div class='field'>
        <%= f.label :top_description, 'Top Description', class: 'label' %>
        <div class='control has-icons-left'>
          <%= f.text_field :top_description, class:'input', placeholder: 'Enter description of top for a two-piece costume' %>
        </div>
        <% if any_field_errors?(@costume, :top_description) %>
          <p class='helper has-text-danger'><%= field_error_explaination(@costume, :top_description) %></p>
        <% end %>
      </div>
      <!-- Bottoms Description -->
      <div class='field'>
        <%= f.label :bottoms_description, 'Bottoms Description', class: 'label' %>
        <div class='control has-icons-left'>
          <%= f.text_field :bottoms_description, class:'input', placeholder: 'Enter description of bottoms for a two-piece costume' %>
        </div>
        <% if any_field_errors?(@costume, :bottoms_description) %>
          <p class='helper has-text-danger'><%= field_error_explaination(@costume, :bottoms_description) %></p>
        <% end %>
      </div>
    </div>
    <!-- Onepiece Description -->
    <div class='box'>
      <h2 class='subtitle'>
        One-Piece Costume
        <p class='help is-danger'>Must fill out for a one-piece costume</p>
      </h2>
      <div class='field'>
        <%= f.label :onepiece_description, 'Description', class: 'label' %>
        <div class='control has-icons-left'>
          <%= f.text_field :onepiece_description, class:'input', placeholder: 'Enter description for a one-piece costume' %>
        </div>
        <% if any_field_errors?(@costume, :onepiece_description) %>
          <p class='helper has-text-danger'><%= field_error_explaination(@costume, :onepiece_description) %></p>
        <% end %>
      </div>
    </div>
    <!-- Picture -->
    <div class='box'>
      <h2 class='subtitle'>Picture</h2>
      <div class='field'>
        <%= f.label :picture, 'Picture URL', class: 'label' %>
        <div class='control has-icons-left'>
          <%= f.text_field :picture, class:'input', placeholder: 'If no picture, leave blank' %>
        </div>
        <% if any_field_errors?(@costume, :picture) %>
          <p class='helper has-text-danger'><%= field_error_explaination(@costume, :picture) %></p>
        <% end %>
      </div>
    </div>
    <!-- Submit Button -->
    <div class='field'>
      <div class='control'>
        <%= f.submit class: 'button is-primary' %>
      </div>
    </div>
  <% end %>
</div>
<!-- Cancel Button -->
<%= cancel_button(costume_path(@costume)) %>