<div class='content has-text-centered'>
  <h1 class='title has-text-primary'>New Costume Form</h1>
</div>
<!-- New Costume Form -->
<div class='box'>
  <%= form_with model: @costume, url: dance_studio_costumes_path do |f| %>
    <%= f.hidden_field :dance_studio_id %>
      <div class='field'>
        <div class='control has-text-centered'>
          <h2 class='title has-text-primary is-size-4'>Costume Description</h2>
        </div> 
      </div>
      <!-- Twopiece Description -->
      <div class='box'>
        <h2 class='subtitle'>Two-Piece Costume
          <p class='help is-danger'>Must fill out both fields for a two-piece costume</p>
        </h2>
        <!-- Top Description -->
        <div class='field'>
          <%= f.label :top_description, 'Top Description', class: 'label' %>
          <div class='control'>
            <%= f.text_field :top_description, class:'input', placeholder: 'Enter description of top for a two-piece costume' %>
          </div>
        </div>
        <!-- Bottoms Description -->
        <div class='field'>
          <%= f.label :bottoms_description, 'Bottoms Description', class: 'label' %>
          <div class='control'>
            <%= f.text_field :bottoms_description, class:'input', placeholder: 'Enter description of bottoms for a two-piece costume' %>
          </div>
        </div>
      </div>
      <!-- Onepiece Description -->
      <div class='box'>
        <h2 class='subtitle'>One-Piece Costume
          <p class='help is-danger'>Must fill out for a one-piece costume</p>
        </h2>
        <div class='field'>
          <%= f.label :onepiece_description, 'Description', class: 'label' %>
          <div class='control'>
            <%= f.text_field :onepiece_description, class:'input', placeholder: 'Enter description for a one-piece costume' %>
          </div>
        </div>
      </div>
    <!-- Picture -->
    <div class='box'>
      <h2 class='subtitle'>Picture</h2>
      <div class='field'>
        <%= f.label :picture, 'Picture URL', class: 'label' %>
        <div class='control'>
          <%= f.text_field :picture, class:'input', placeholder: 'If no picture, leave blank' %>
        </div>
      </div>
    </div>
    <!-- Costume Assignment info -->
    <div class='field'>
      <div class='control has-text-centered'>
        <h2 class='title has-text-primary is-size-4'>Assign Costume
          <p class='help is-danger'>Optional: can assign details & dancer(s) after creating costume</p>
        </h2>
      </div> 
    </div>
    <div class='box'>
      <h2 class='subtitle'>Enter Costume Assignment Details
        <p class='help is-danger'>If assigning costume, must enter the dance season & song name</p>
      </h2>
      <%= f.fields_for :costume_assignments do |assignment_builder| %>
        <% if assignment_builder.object.dancer_id.nil? %>
          <p>
            <!-- Dance Season -->
            <div class='field'>
              <%= assignment_builder.label :dance_season, "Dance Season", class: 'label' %>
              <div class='control'>
                <%= assignment_builder.text_field :dance_season, class:'input is-danger', placeholder: 'e.g. 2020' %>
                <p class='help is-danger'>Required, if assigning costume</p>
              </div>
            </div>
            <!-- Song Name -->
            <div class='field'>
              <%= assignment_builder.label :song_name, "Song Name", class: 'label' %>
              <div class='control'>
                <%= assignment_builder.text_field :song_name, class:'input is-danger' %>
                <p class='help is-danger'>Required, if assigning costume</p>
              </div>
            </div>
            <!-- Genre -->
            <div class='field'>
              <%= assignment_builder.label :genre, class: 'label' %>
              <div class='control'>
                <%= assignment_builder.text_field :genre, class:'input', placeholder: 'e.g. tap, jazz, lyrical, etc.' %>
              </div>
            </div>
            <!-- Hair Accessory Description -->
            <div class='field'>
              <%= assignment_builder.label :hair_accessory, 'Hair Accessory', class: 'label' %>
              <div class='control'>
                <%= assignment_builder.text_field :hair_accessory, class:'input', placeholder: "Enter description or 'none'" %>
              </div>
            </div>
            <!-- Shoes -->
            <div class='field'>
              <%= assignment_builder.label :shoe, 'Shoes', class: 'label' %>
              <div class='control'>
                <%= assignment_builder.text_field :shoe, class:'input', placeholder: "If no shoes, enter 'none'" %>
              </div>
            </div>
            <!-- Tights -->
            <div class='field'>
              <%= assignment_builder.label :tight, 'Tights', class: 'label' %>
              <!--label class="label" for="costume_costume_assignments_attributes_0_tight">Tight</label-->
              <div class='control'>
                <%= assignment_builder.text_field :tight, class:'input', placeholder: "If no tights, enter 'none'" %>
                <!--input class="input" type="text" name="costume[costume_assignments_attributes][0][tight]" id="costume_costume_assignments_attributes_0_tight"-->
              </div>
            </div>
          </p>
        <% end %>
      <% end %>
    </div>
    <!-- Dancer(s) & Costume Size -->
    <div class='box'>
      <h2 class='subtitle'>Select Dancer(s)
        <p class='help is-danger'>If assigning costume, must select at least 1 dancer w/ costume size</p>
      </h2>
      <div class='columns is-desktop'>
        <% count = 0 %>
        <%= f.fields_for :costume_assignments do |assignment_builder| %>
          <% if !assignment_builder.object.dancer_id.nil? %>
            <div class='column is-narrow'>
              <% if count.multiple_of?(7) %>
                </div>
                </div>
                <div class='columns is-desktop'>
                <div class='column is-2 is-narrow-desktop'>
              <% end %>
              <!-- Dancer -->
              <div class='field'>
                <div class='control'>
                  <%= assignment_builder.check_box :dancer_id, {:checked => false, class: 'checkbox'}, assignment_builder.object.dancer_id, "0" %>
                  <!--input name="costume[costume_assignments_attributes][7][dancer_id]" type="hidden" value="0"-->
                  <!--input class="checkbox" type="checkbox" value="1" name="costume[costume_assignments_attributes][7][dancer_id]" id="costume_costume_assignments_attributes_7_dancer_id"-->
                  <!-- next dancer -->
                  <!--input name="costume[costume_assignments_attributes][8][dancer_id]" type="hidden" value="0"-->
                  <!--input class="checkbox" type="checkbox" value="2" name="costume[costume_assignments_attributes][8][dancer_id]" id="costume_costume_assignments_attributes_8_dancer_id"-->
                  <%= assignment_builder.label assignment_builder.object.dancer.name,  assignment_builder.object.dancer.name, class: 'checkbox has-text-weight-bold' %>
                  <!--label class="checkbox" for="costume_costume_assignments_attributes_7_Madelyn Berrier">Madelyn Berrier</label-->              
                </div>
              </div>
              <!-- Costume Size -->
              <div class='field'>
                <%= assignment_builder.label :costume_size, 'Costume Size', class: 'label is-size-7' %>
                <div class='control'>
                  <!--%#= assignment_builder.text_field :costume_size, class:'input is-small' %-->
                  <div class='select is-small'>
                    <%= assignment_builder.select(:costume_size, options_for_select([['XS', 'XS'], ['S', 'S'], ['M', 'M'], ['L', 'L']]), {prompt: "Select Size"}) %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% count += 1 %>
        <% end %>
      </div>
    </div>
    <!-- submit button -->
    <div class='field'>
      <div class='control'>
        <%= f.submit class: 'button is-primary' %>
      </div>
    </div>
  <% end %>
</div>
<!-- cancel button -->
<%= link_to 'Cancel', dance_studio_path(current_user), class: 'button is-dark'%>