<section class='section'>
  <div class='columns'>
    <div class='column'>
      <%= image_tag @costume.picture %>
    </div>
    <% if @costume.onepiece_description.blank? %>
      <div class='column'>
        <div class='box'>
          <h2 class='title is-4'>Top</h2>
          <%= @costume.top_description %>
        </div>
      </div>
      <div class='column'>
        <div class='box'>
          <h2 class='title is-4'>Bottoms</h2>
          <%= @costume.bottoms_description %>
        </div>
      </div>
    <% else %>
      <div class='column'>
        <div class='box'>
          <h2 class='title is-4'>One-Piece</h2>
          <%= @costume.onepiece_description %>
        </div>
      </div>
    <% end %>
    <div class='column'>
      <div class='box'>
        <h2 class='title is-4'>Hair Accessory</h2>
        <%= @costume.hair_accessory %>
      </div>
    </div>
  </div>
  <div class='buttons is-grouped'>
    <button class='button is-dark' onclick="window.location.href = '<%= request.referer %>';">Back</button>
  </div>
  <% if owner? %>
  <!-- Costume Assignments -->
    <div class='buttons is-grouped'>
      <%= link_to 'Costume Assignments', assigned_costume_path(@costume, costume_id: @costume), class: 'button is-primary' %>
      <!-- TODO: add 'Assign Costume' button -->
    </div>
    <!-- Edit / Delete Costume -->
    <div class='buttons is-grouped'>
      <%= link_to 'Edit Costume', edit_costume_path(@costume, dance_studio_id: current_user.id), class: 'button is-success' %>
      <%= link_to 'Delete Costume', costume_path(@costume), class: 'button is-info', method: :delete %>
    </div>
  <% end %>
</section>