<section class='section'>
  <div class='columns'>
    <div class='column'>
      <!-- Costume Picture -->
      <%= render 'picture' %>
    </div>
    <!-- Two Piece Costume -->
    <% if !costume_onepiece_description?(@costume) %>
      <!-- Top -->
      <div class='column'>
        <div class='box'>
          <h2 class='title is-4'>Top</h2>
          <%= @costume.top_description %>
        </div>
      </div>
      <!-- Bottoms -->
      <div class='column'>
        <div class='box'>
          <h2 class='title is-4'>Bottoms</h2>
          <%= @costume.bottoms_description %>
        </div>
      </div>
    <% else %>
      <!-- One-Piece Costume -->
      <div class='column'>
        <div class='box'>
          <h2 class='title is-4'>One-Piece</h2>
          <%= @costume.onepiece_description %>
        </div>
      </div>
    <% end %>
  </div>
  <% if owner? %>
    <%= render 'studio_controls' %>
  <% end %>
</section>