<section class='section'>
  <div class='columns'>
    <div class='column'>
      <% if !@costume.picture.blank? %>
        <%= image_tag @costume.picture %>
      <% elsif !@costume.onepiece_description.blank? %>
        <%= @costume.onepiece_description %>
      <% else %>
        <%= @costume.twopiece_description %>
      <% end %>
    </div>
    <!-- Two Piece Costume -->
    <% if @costume.onepiece_description.blank? %>
      <!-- Top -->
      <div class='column'>
        <div class='box'>
          <h2 class='title is-4'>Top</h2>
          <%= @costume.top_description %>
        </div>
      </div>
      <!-- Bottoms -->
      <div class='column'>
        <div class='box'>
          <h2 class='title is-4'>Bottoms</h2>
          <%= @costume.bottoms_description %>
        </div>
      </div>
    <% else %>
      <!-- One-Piece Costume -->
      <div class='column'>
        <div class='box'>
          <h2 class='title is-4'>One-Piece</h2>
          <%= @costume.onepiece_description %>
        </div>
      </div>
    <% end %>
    <!-- Hair Accessory -->
    <div class='column'>
      <div class='box'>
        <h2 class='title is-4'>Hair Accessory</h2>
        <%= @costume.hair_accessory %>
      </div>
    </div>
  </div>
  <% if owner? %>
    <!-- No of dancers by season -->
    <div class='columns'>
      <div class='column is-narrow'>
        <div class='box'>
          <table class='table'>
            <thead>
              <tr>
                <td><h2 class='subtitle'>Season</h2></td>
                <td><h2 class='subtitle'>Dancers</h2></td>
              </tr>
            </thead>
            <tbody>
              <!-- {"2019"=>3, "2020"=>3} -->
              <% @costume.seasons.each do |season| %>
                <tr>
                  <td><%= season[0] %></td>
                  <td><%= season[1] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Costume Assignments -->
    <div class='buttons is-grouped'>
      <%= link_to 'View Costume Assignments', assigned_costume_path(@costume, costume_id: @costume, back_page: @back_page), class: 'button is-primary' %>
      <% if unassigned? %>
        <%= link_to 'Assign Costume', assign_costume_path(@costume), class: 'button is-success is-light' %>
      <% end %>
    </div>
    <!-- Edit / Delete Costume -->
    <div class='buttons is-grouped'>
      <%= link_to 'Edit Costume', edit_costume_path(@costume, dance_studio_id: current_user.id), class: 'button is-success' %>
      <%= link_to 'Delete Costume', costume_path(@costume), class: 'button is-info', method: :delete %>
    </div>
  <% end %>
  <!-- Back Button: path == params[:back_page] - all costumes or current costumes -->
  <div class='buttons is-grouped'>
    <%= link_to 'Back', params[:back_page], class: 'button is-dark' %>
  </div>
</section>