<section class='section'>
  <div class='columns'>
    <div class='column'>
      <!-- Costume Picture -->
      <%= render 'picture' %>
    </div>
    <!-- Two Piece Costume -->
    <% if @costume.onepiece_description.blank? %>
      <!-- Top -->
      <div class='column'>
        <div class='box'>
          <h2 class='title is-4'>Top</h2>
          <%= @costume.top_description %>
        </div>
      </div>
      <!-- Bottoms -->
      <div class='column'>
        <div class='box'>
          <h2 class='title is-4'>Bottoms</h2>
          <%= @costume.bottoms_description %>
        </div>
      </div>
    <% else %>
      <!-- One-Piece Costume -->
      <div class='column'>
        <div class='box'>
          <h2 class='title is-4'>One-Piece</h2>
          <%= @costume.onepiece_description %>
        </div>
      </div>
    <% end %>
  </div>
  <% if owner? %>
    <!-- No of dancers by season -->
    <% if !@costume.seasons.empty?%>
      <div class='columns'>
        <div class='column is-narrow'>
          <div class='box'>
            <table class='table'>
              <thead>
                <tr>
                  <td><h2 class='subtitle'>Season</h2></td>
                  <td><h2 class='subtitle'>Dancers</h2></td>
                </tr>
              </thead>
              <tbody>
                <!-- {"2019"=>3, "2020"=>3} -->
                <% @costume.seasons.each do |season| %>
                  <tr>
                    <td><%= season[0] %></td>
                    <td><%= season[1] %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
    <!-- View All/Current Costume Assignments -->
    <div class='buttons is-grouped'>
      <% if params[:season] %>
        <%= link_to "View #{Time.now.year} Costume Assignments", season_assignments_path(@costume, season: Time.now.year), class: 'button is-primary' %>
      <% else%>
        <%= link_to 'View All Costume Assignments', assigned_costume_path(@costume), class: 'button is-primary' %>
      <% end %>
      <!-- Assign an Unassigned Costume -->
      <% if unassigned? %>
        <!-- if previously assigned, pass last season costume was assigned -->
        <%= 
          link_to_if @costume.seasons.empty?, 'Assign Costume', assign_costume_path(@costume), class: 'button is-success is-light' do |name|
            link_to name, assign_costume_path(@costume, season: @costume.seasons.to_a.pop[0]), class: 'button is-success is-light'
          end
        %>
      <% end %>
    </div>
    <!-- Edit / Delete Costume -->
    <div class='buttons is-grouped'>
      <%= link_to 'Edit Costume', edit_costume_path(@costume), class: 'button is-success' %>
      <%= link_to 'Delete Costume', costume_path(@costume), class: 'button is-info', method: :delete %>
    </div>
  <% end %>
</section>