<!-- studio name -->
<%= form_for @dance_studio do |f| %>
  <div class='field'>
    <%= f.label :studio_name, class: 'label' %>
    <div class='control has-icons-left'>
      <%= f.text_field :studio_name, class:'input', placeholder: 'Enter Studio Name' %>
        <span class='icon is-small is-left'>
          <i class='fas fa-school'></i>
        </span>
    </div>
  </div>
  <!-- owner name -->
  <div class='field'>
    <%= f.label :owner_name, class: 'label' %>
    <div class='control has-icons-left'>
      <%= f.text_field :owner_name, class:'input', placeholder: 'Enter Studio Owner' %>
        <span class='icon is-small is-left'>
          <i class='fas fa-user'></i>
        </span>
    </div>
  </div>
  <!-- email -->
  <div class='field'>
    <%= f.label :email, class: 'label' %>
    <div class='control has-icons-left'>
      <%= f.text_field :email, class:'input', placeholder: 'Enter Email' %>
        <span class='icon is-small is-left'>
          <i class='fas fa-envelope'></i>
        </span>
    </div>
  </div>
  <!-- password -->
  <div class='field'>
    <%= f.label :password, class: 'label' %>
    <div class='control has-icons-left'>
      <%= f.password_field :password, class:'input', placeholder: 'Enter Password' %>
        <span class='icon is-small is-left'>
          <i class='fas fa-lock'></i>
        </span>
    </div>
  </div>
  <!-- password confirmation -->
  <div class='field'>
    <%= f.label :password_confirmation, class: 'label' %>
    <div class='control has-icons-left'>
      <%= f.password_field :password_confirmation, class:'input', placeholder: 'Re-enter Password' %>
        <span class='icon is-small is-left'>
          <i class='fas fa-lock'></i>
        </span>
    </div>
  </div>
  <!-- submit button -->
  <div class='field'>
    <div class='control'>
      <%= f.submit class: 'button is-primary' %>
    </div>
  </div>
<% end %>