<!-- not using -->
<!-- for creating a single costume assignment -->
<!-- want to add an multiple costume assignments -->
<!-- costume picture -->
<% if !@costume.picture.blank? %>
  <%= image_tag @costume.picture, width: 100 %>
<% elsif !@costume.onepiece_description.blank? %>
  <%= @costume.onepiece_description %>
<% else %>
  <%= @costume.top_description + ' with ' + @costume.bottoms_description %>
<% end %>
<div class='box'>
<%= form_for [current_user, @assignment_info] do |f| %>
  <!-- song name -->
  <div class='field'>
    <%= f.label :song_name, 'Song Name', class: 'label' %>
    <div class='control'>
      <%= f.text_field :song_name, class:'input', placeholder: 'Enter Dance Song Name' %>
    </div>
  </div>
  <!-- dance season -->
  <div class='field'>
    <%= f.label :dance_season, 'Dance Season', class: 'label' %>
    <div class='control'>
      <%= f.text_field :dance_season, class:'input', placeholder: 'Enter Dance Season Year' %>
    </div>
  </div>
  <!-- genre -->
  <div class='field'>
    <%= f.label :genre, class: 'label' %>
    <div class='control'>
      <%= f.text_field :genre, class:'input', placeholder: 'Enter Dance Genre' %>
    </div>
  </div>
  <!-- shoes -->
  <div class='field'>
    <%= f.label 'Shoes', class: 'label' %>
    <div class='control'>
      <%= f.text_field :shoe, class:'input', placeholder: "Enter Shoes or 'none'" %>
    </div>
  </div>
  <!-- tights -->
  <div class='field'>
    <%= f.label 'Tights', class: 'label' %>
    <div class='control'>
      <%= f.text_field :tight, class:'input', placeholder: "Enter Tights or 'none'" %>
    </div>
  </div>
  <!-- Dancer(s) & Costume Size -->
    <div class='box'>
      <h2 class='subtitle'>Select Dancer(s) & Costume Size</h2>
      <div class='columns'>
        <% @costume.costume_assignments.each do |assignment| %>
          <% if !assignment.dancer_id.nil? && assignment.dance_season.nil? %>
            <div class='column'>
              <!-- Dancer -->
              <div class='field'>
                <div class='control'>
                  <%= f.check_box :dancer_id, {:checked => false, class: 'checkbox'}, assignment.dancer_id, "0" %>
                  <%= f.label assignment.dancer.name,  assignment.dancer.name, class: 'checkbox has-text-weight-bold' %>   
                </div>
              </div>
              <!-- Costume Size -->
              <div class='field'>
                <%= f.label :costume_size, 'Costume Size', class: 'label is-size-7' %>
                <div class='select is-small'>
                  <%= f.select(:costume_size, options_for_select([['XS', 'XS'], ['S', 'S'], ['M', 'M'], ['L', 'L']]), {prompt: 'Select Size'}) %>
                </div>
              </div>
              <!-- Costume Condition -->
              <div class='field'>
                <%= f.label :costume_condition, 'Costume Condition', class: 'label is-size-7' %>
                <div class='select is-small'>
                  <%= f.select(:costume_condition, options_for_select([['New', 'New'], ['Used', 'Used']]), {prompt: "Select Condition"}) %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <!-- submit button -->
  <div class='field'>
    <div class='control'>
      <%= f.submit 'Create Costume Assignments', class: 'button is-primary' %>
    </div>
  </div>
<% end %>
</div>