<div class='table-container'>
  <table class='table is-fullwidth is-striped is-hoverable'>
    <thead class='has-text-weight-bold'>
      <td>Season</td>
      <td>Song Name</td>
      <td>Genre</td>
      <td>Hair Accessory</td>
      <td>Shoes</td>
      <td>Tights</td>
      <% if owner? && !@dancer %><!-- don't display for dancer's assignments -->
        <td>Dancer</td>
      <% end %>
      <td>Condition</td>
      <td>Size</td>
    </thead>
    <tbody>
      <% @assignments.each do |assignment| %>
        <tr>
          <td><%= assignment.dance_season %></td>
          <td><%= song_name_link(assignment) %></td>
          <td><%= assignment.genre %></td>
          <td><%= assignment.hair_accessory %></td>
          <td><%= assignment.shoe %></td>
          <td><%= assignment.tight %></td>
          <% if owner? && !@dancer %><!-- don't display for dancer's assignments -->
            <td><%= dancer_name_link(assignment)%></td>
          <% end %>
          <td><%= assignment.costume_condition %></td>
          <td><%= assignment.costume_size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>