<div class='container is-fluid'>
  <div class="content">
    <h1 class='title has-text-primary'><%= Time.now.year %> Costume Assignments</h1>
  </div>
  <% if session[:user_type] == 'Dancer' %>
    <div class='table-container'>
      <table class='table is-fullwidth is-striped is-hoverable'>
        <thead class='has-text-weight-bold'>
          <td>Song Name</td>
          <td>Genre</td>
          <td>Condition</td>
          <td>Size</td>
          <td>Shoes</td>
          <td>Tights</td>
        </thead>
        <tbody>
        <% @costume_assignments.each do |assignment| %>
          <tr>
            <td><%= link_to assignment.song_name, dance_studio_costume_path(current_user.dance_studio_id, assignment.costume_id) %></td>
            <td><%= assignment.genre %></td>
            <td><%= assignment.costume_condition %></td>
            <td><%= assignment.costume_size %></td>
            <td><%= assignment.shoe %></td>
            <td><%= assignment.tight %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="columns">
      <% @costume_assignments.each do |costume| %>
        <div class="column">
          <figure class="image is-96x96">
            <%= link_to image_tag(costume.picture, width: 100), dance_studio_costume_assignment_path(current_user.id, costume.id) %>
          </figure>
        </div>
      <% end %>
    </div>
  <% end %>
</div>