<div class='content has-text-centered'>
  <% if dancer? %>
      <h1 class='title has-text-primary'><%= current_user.name %>'s Costumes</h1>
  <% elsif @costume %>
    <% if !@costume.picture.blank? %>
      <figure class="is-128x128">
        <%= link_to image_tag(@costume.picture, width: 100), costume_path(@costume) %>
      </figure>
    <% elsif !@costume.onepiece_description.blank? %>
      <%= link_to @costume.onepiece_description, costume_path(@costume) %>
    <% else %>
      <%= link_to @costume.top_description + ' with ' + @costume.bottoms_description, costume_path(@costume) %>
    <% end %>
  <% else %>
      <% if @dancer %>
        <h1 class='title has-text-primary'><%= link_to @dancer.name + "'s Costumes", dancer_path(@dancer) %></h1>
      <% else %>
        <h1 class='title has-text-primary'>All Costume Assignments</h1>
      <% end %>
  <% end %>
</div>
<!-- if costume assignment(s) exist, render table -->
<% if @costume_assignments.empty? %>
  <div class='content has-text-centered'>
    <h2 class='subtitle'>No Assignments</h2>
  </div>
<% else %>
  <%= render "table"%>
<% end %>