<div class='content has-text-centered'>
  <!-- Song Name -->
  <h1 class='title has-text-primary'><%= @shared_info.song_name%></h1>
  <!-- Dance Season -->
  <h2 class='subtitle'><%= @season %></h2>
  <!-- Costume Picture -->
  <%= render 'costumes/picture' %>
  <!-- Shared Assignment Info -->
  <div class='box'>
    <%= render 'costumes/display_shared_assignment_info'%>
  </div>
  <!-- Dancer(s), Costume Size & Costume Condition -->
  <div class='box'>
    <%= render 'costumes/dancer_table'%>
  </div>
</div>
<!-- Edit Button -->
<%= link_to 'Edit', edit_season_assignments_path(@costume, season: @season), class: 'button is-warning'%>
<!-- Delete Button -->
<%= link_to 'Delete', season_assignments_path(@costume, season: @season), class: 'button is-danger', method: :delete %>