<div class='content has-text-centered'>
  <h1 class='title has-text-primary'> Current Dancers at <%= current_user.studio_name %></h1>
</div>
<div class='box'>
  <!-- Table of Current Dancers -->
  <div class='table-container'>
    <table class='table is-fullwidth is-striped is-hoverable'>
      <thead class='has-text-weight-bold'>
        <td class='has-text-centered'>Dancer Name</td>
        <td class='has-text-centered'><%= current_year %> Costume Assignments</td>
        <td class='has-text-centered'>Total Costume Assignments</td>
      </thead>
      <tbody>
        <% @dancers.each do |dancer| %>
          <tr>
            <td class='has-text-centered'><%= link_to full_name(dancer), dancer_path(dancer) %></td>
            <td class='has-text-centered'><%= link_to current_assignments_count(dancer), dancer_current_assignments_path(dancer) %></td>
            <td class='has-text-centered'><%= link_to all_assignments_count(dancer), dancer_costumes_path(dancer) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- Count of Current Dancers -->
  <div class='columns'>
    <div class='column'>
      <div class='box has-text-centered'>
        <h2 class='title is-4'><%= @dancers.count %> Current Dancers</h2>
      </div>
  </div>
  <!-- Count of Current Costumes -->
  <div class='column'>
    <div class='box has-text-centered'>
      <h2 class='title is-4'><%= current_studio_costumes_count %> Current Costumes</h2>
    </div>
  </div>
</div>