<div class='content has-text-centered'>
  <h1 class='title has-text-primary'> Current Dancers at <%= current_user.studio_name %></h1>
</div>
<div class='box'>
  <!-- Table of Current Dancers -->
  <div class='table-container'>
    <table class='table is-fullwidth is-striped is-hoverable'>
      <thead class='has-text-weight-bold'>
        <td>Name</td>
        <td><%= Time.now.year %> Costume Assignments</td>
        <td>All Costume Assignments</td>
      </thead>
      <tbody>
        <% @dancers.each do |dancer| %>
          <tr>
            <td><%= link_to dancer.name, dancer_path(dancer) %></td>
            <td><%= link_to dancer.costume_assignments.current_assignments.count, dancer_current_assignments_path(dancer) %></td>
            <td><%= link_to dancer.costume_assignments.count, dancer_costumes_path(dancer) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- Count of Current Dancers -->
  <div class='columns'>
    <div class='column'>
      <div class='box has-text-centered'>
        <h2 class='title is-4'><%= @dancers.count %> Dancers</h2>
      </div>
  </div>
  <!-- Count of Current Costumes -->
  <div class='column'>
    <div class='box has-text-centered'>
      <h2 class='title is-4'><%= current_user.current_studio_costumes.count %> Costumes</h2>
    </div>
  </div>
</div>