<div class="content has-text-centered">
  <% if owner? %>
    <h1 class='title has-text-primary'><%= @dancer.name %>'s <%= Time.now.year %> Costume Assignments</h1>
  <% else %>
      <h1 class='title has-text-primary'><%= Time.now.year %> Costume Assignments</h1>
  <% end %>
  <% if @assignments.empty? %>
    <h2 class='subtitle'>No Assignments</h1>
  <% else %>
    <div class='table-container'>
      <table class='table is-fullwidth is-striped is-hoverable'>
        <thead class='has-text-weight-bold'>
          <td>Costume</td>
          <td>Song Name</td>
          <td>Genre</td>
          <td>Hair Accessory</td>
          <td>Shoes</td>
          <td>Tights</td>
          <td>Size</td>
          <td>Condition</td>
        </thead>
        <tbody>
        <% @assignments.each do |assignment| %>
          <% costume = Costume.find(assignment.costume_id) %>
          <tr>
            <td>
              <% if !costume.picture.blank? %>
                <%= link_to image_tag(costume.picture, width: 100), costume_path(costume) %>
              <% elsif !costume.onepiece_description.blank? %>
                <%= link_to costume.onepiece_description, costume_path(costume) %>
              <% else %>
                <%= link_to costume.twopiece_description, costume_path(costume) %>
              <% end %>
            </td>
            <td><%= assignment.song_name %></td>
            <td><%= assignment.genre %></td>
            <td><%= assignment.hair_accessory %></td>
            <td><%= assignment.shoe %></td>
            <td><%= assignment.tight %></td>
            <td><%= assignment.costume_size %></td>
            <td><%= assignment.costume_condition %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>