<div class='content has-text-centered'> 
  <h1 class='title has-text-primary'>All Dancers at <%= current_user.studio_name %></h1>
</div>
<div class='box'>
  <!-- Table of Dancers -->
  <div class='table-container'>
    <table class='table is-fullwidth is-striped is-hoverable'>
      <thead class='has-text-weight-bold'>
        <td class='has-text-centered'> Dancer Name</td>
        <td class='has-text-centered'>Current Dancer?</td>
        <td class='has-text-centered'>Total Costume Assignments</td>
      </thead>
      <tbody>
        <% @dancers.each do |dancer| %>
          <tr>
            <td class='has-text-centered'><%= link_to full_name(dancer), dancer_path(dancer) %></td>
            <td class='has-text-centered'><%= current?(dancer) %></td>
            <td class='has-text-centered'><%= link_to costumes_count(dancer), dancer_costumes_path(dancer) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- Count of Dancers -->
  <div class='columns'>
    <div class='column'>
      <div class='box has-text-centered'>
        <h2 class='title is-4'><%= @dancers.count %> Total Dancers</h2>
      </div>
  </div>
  <!-- Count of Costumes -->
  <div class='column'>
    <div class='box has-text-centered'>
      <h2 class='title is-4'><%= costumes_count(current_user) %> Total Costumes</h2>
    </div>
  </div>
</div>