<div class='container is-fluid'>
  <h1 class='title has-text-primary'><%= @dancer.name %>'s Page</h1>
  <div class='buttons'>
    <div class='button'>
      <%= link_to 'Costume Assignments', dancer_costumes_path(@dancer) %>
    </div>
    <div class='button'>
      <%= link_to 'Current Costumes', dancer_current_costumes_path(@dancer) %>
    </div>
    <div class='button'>
      <%= link_to 'Edit Account', edit_dancer_path(@dancer) %>
    </div>
    <div class='button'>
      <%= link_to 'Deactivate Account', dancer_path(@dancer), method: :delete %>
    </div>
  </div>
</div>