<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<div class='content has-text-centered'>
  <h1 class='heading is-size-2 has-text-primary'>Costume Closet</h1>
  <div class='level'>
    <div class='level-item has-text-centered'>
      <figure class='image is-96x96'>
        <%= image_tag 'hanger-black.svg' %>
      </figure>
    </div>
  </div>
</div>
<!-- DANCE STUDIO -->
<div class='box'>
  <div class='content'>
    <h2 class='heading is-size-3 has-text-primary'>Dance Studio Owners</h2>
    <p class='heading is-size-6'>
      Create an account to manage and track your dance studio's costumes and costume assignments
    </p>
  </div>
  <!-- New Account -->
  <div class='buttons'>
    <!-- Register with Email -->
    <button class='button is-primary'>
      <span class='icon'>
        <i class='fas fa-envelope'></i>
      </span>
      <%= register_with_email_button('dance_studio') %>
    </button>
    <!-- Register via Google -->
    <button class='button is-primary'>
      <span class='icon'>
        <i class='fab fa-google'></i>
      </span>
      <%= register_via_google_button('dance_studio') %>
    </button>
  </div>
  <!-- Sign In -->
  <div class='content has-text-right'>
    <p class='heading is-size-6'>Have a dance studio account?</p>
    <p class='heading'><%= sign_in_button('dance_studio') %></p>
  </div>
</div>
<!-- DANCER -->
<div class='box'>
  <div class='content'>
    <h2 class='heading is-size-3 has-text-primary'>Dancers</h2>
    <p class='heading is-size-6'>
      Create an account to view your assigned costumes
    </p>
  </div>
  <!-- New Account -->
  <div class='buttons'>
    <!-- Register with Email -->
    <button class='button is-primary'>
      <span class='icon'>
        <i class='fas fa-envelope'></i>
      </span>
      <%= register_with_email_button('dancer') %>
    </button>
    <!-- Register via Google -->
    <button class='button is-primary'>
      <span class='icon'>
        <i class='fab fa-google'></i>
      </span>
      <%= register_via_google_button('dancer') %>
    </button>
  </div>
  <!-- Sign In -->
  <div class='content has-text-right'>
    <p class='heading heading is-size-6'>Have a dancer account?</p>
    <p class='heading'><%= sign_in_button('dancer') %></p>
  </div>
</div>
  