<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Costume Closet</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- Navigation Bar -->
    <% if logged_in? %>
      <nav class='navbar is-primary' role='navigation' aria-label='main navigation'>
        <div class='navbar-brand'>
          <!-- link to Dance Studio/Dancer Show View -->
          <a class='navbar-item'>
            <figure class='image is-24x24'>
              <%= hanger_link_to_show_view %>
            </figure>
          </a>
          <!-- hamburger menu -->
          <a role='button' class='navbar-burger burger' aria-label='menu' aria-expanded='false' data-target='nb'>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id='nb' class='navbar-menu'>
          <div class='navbar-start'>
            <div class='navbar-item'>
            </div>
            <!-- Dance Studio Only: Search, New Costume & Unassigned Costumes -->
            <% if owner? %>
              <!-- search -->
              <div class="navbar-item">
                <%= render 'dance_studios/search_form' %>
              </div>
              <div class='navbar-item'>
                <%= link_to_new_costume %>
              </div>
              <div class='navbar-item'>
                <%= link_to_unassigned_costumes %>
              </div>
            <% end %>
            <!-- link to Current Costume Assignments -->
            <div class='navbar-item'>
              <%= link_to_current_costume_assignments %>
            </div>
            <!-- link to All Costumes -->
            <div class='navbar-item'>
              <%= link_to_all_costumes %>
            </div>
          </div>
          <div class='navbar-end'>
            <!-- link to Log Out -->
            <div class='navbar-item'>
              <%= link_to_log_out %>
            </div>
          </div>
        </div>
      </nav>
      <!-- js for hamburger menu -->
      <script type='text/javascript'>
        (function () {
          var burger = document.querySelector('.burger');
          var nav = document.querySelector('#'+burger.dataset.target);

          burger.addEventListener('click', function(){
            burger.classList.toggle('is-active');
            nav.classList.toggle('is-active');
          });
        })();
      </script>
    <% end %>
    <!-- Display validation messages -->
    <section class='section'>
      <div class='container is-fluid has-text-centered'>
        <% flash.each do |name, msg| %>
          <div class='notification is-<%= name %>'>
            <%= msg %>
          </div>
        <% end %>
      </div>
      <!-- Display view page -->
      <div class='container is-fluid'>
        <%= yield %>
      </div>
    </section>
  </body>
  <!-- footer -->
  <footer class='branding'>
    <div class='content has-text-centered'>
      <p></p>
    </div>
  </footer>
</html>