<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Costume Closet</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navigation Bar -->
    <% if logged_in? %>
      <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item">
            <figure class="image is-24x24">
              <%= 
                link_to_if owner?, image_tag('hanger.svg'), dance_studio_path(current_user), class: 'has-text-grey-light' do |name|
                  link_to name, dancer_path(current_user), class: 'has-text-grey-light'
                end
              %>
            </figure>
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="nb">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="nb" class="navbar-menu">
          <div class="navbar-start">
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <% if owner? %>
                <%= link_to "New Costume", new_dance_studio_costume_path(current_user), class: 'has-text-grey' %>
              <% end %>
            </div>
            <div class="navbar-item">
              <%= 
                link_to_if owner?, "Current Costume Assignments", studio_current_assignments_path(current_user), class: 'has-text-grey' do |name|
                  link_to name, dancer_current_assignments_path(current_user), class: 'has-text-grey'
                end
              %>
            </div>
            <div class="navbar-item">
              <%= 
                link_to_if owner?, "All Costumes", dance_studio_costumes_path(current_user), class: 'has-text-grey' do |name|
                  link_to name, dancer_costumes_path(current_user), class: 'has-text-grey'
                end
              %>
            </div>
            <!--div class="navbar-item">
              <div class="field has-addons">
                <p class="control">
                  <input class="input" type="text" placeholder="Find a costume">
                </p>
                <p class="control">
                  <button class="button">Search</button>
                </p>
              </div>
            </div-->
            <div class="navbar-item">
              <%= link_to "Log Out", logout_path, class: 'has-text-grey', method: :post %>
            </div>
          </div>
        </div>
      </nav>
      <script type="text/javascript">
        (function () {
          var burger = document.querySelector('.burger');
          var nav = document.querySelector('#'+burger.dataset.target);

          burger.addEventListener('click', function(){
            burger.classList.toggle('is-active');
            nav.classList.toggle('is-active');
          });
        })();
      </script>
    <% end %>
    <!-- Display validation messages -->
    <section class='section'>
      <div class='container is-fluid has-text-centered'>
        <% flash.each do |name, msg| %>
          <div class='notification is-<%= name %>'>
            <%= msg %>
          </div>
        <% end %>
      </div>
      <!-- Display view page -->
      <div class='container is-fluid'>
        <%= yield %>
      </div>
    </section>
  </body>
  <footer class="branding">
    <div class="content has-text-centered">
      <p>
      </p>
    </div>
  </footer>
</html>
